body {
    font-family: "Space Mono", monospace;
    background-color: #e9e3d3;
    color: #524b39;
}

.portrait {
    width: 180px;
    padding: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #e9e3d3
}

.top-row {
    display: flex;
    line-height: 0.5;
    align-items: center;
    justify-content: space-between;
}

.nametitle {
    text-align: center;
}

.contactinfo {
    padding-right: 10px;
}

.contactinfo i {
    margin-right: 8px;
}

.contactinfo a {
    text-decoration: none;
    color:#524b39;
}

.contactinfo a:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    border-top: 1px solid #524b39;
    border-bottom: 1px solid #524b39;
    padding: 10px 0;
}

.nav a {
    text-decoration: none;
    color: #524b39;
}

.nav a:hover {
    text-decoration: underline;
}

main {
    margin-top: 280px
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #524b39;
    justify-content: center;
    align-items: center;
}

.model-content {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #000;
}

.close { 
    position: absolute; 
    top: 20px;
    right: 40px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}


