body {
    font-family: "Space Mono", monospace;
    background-color: #282c33;
    color: #fff;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #282c33;
}

header p {
    margin: 0;
    padding: 5px 30px;
    font-weight: 800;
}


.nav {
    margin-left: auto;
    padding: 5px 30px;
    display: flex;
    gap: 20px; 
}
.nav a {
    color: #abb2bf;
    text-decoration: none;
}

.nav a:hover {
    color: #fff;
}

.nav a.active {
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #81d8d0;
}

main {
    padding-top: 30px;
}

.container {
    display: flex;
    padding: 80px 150px;
}

.intro button {
    background-color:#282c33;
    color:#81d8d0;
    border: 1px solid #81d8d0;
    padding: 5px 20px;
    border-radius: 5px;
}

.intro button:hover {
    cursor: pointer;
    background-color:#81d8d0;
    color:#282c33;
}


.portrait img {
    width: 330px;;
    height: 330px;
}

.quote-container {
    display: flex;
    justify-content: center;
}

.open-quote, .close-quote {
    font-family: "League Spartan", sans-serif;
    font-size: 50px;
    color: #81d8d0;
    background-color: #282c33;
    width: 30px;
    height: 30px;
}

.open-quote {
    position: relative;
    top: 20px;
    left: 10px;
    text-align: center;
}

.close-quote {
    position: relative;
    bottom: 63px;
    left: 480px;
    text-align: center;
}

.quote-text {
    border: 1px solid #fff;
    padding: 10px 10px;
}

.quote-author {
    border: 1px solid #fff;
    position: relative;
    bottom: 80px;
    border-top: none;
    padding: 1px 10px;
    float: right;
}
